*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Hero section scc start */
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    gap: 100px;
    background-color: #FFD868;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 570px;
    height: 496px;
}
.left h2{
    color: #721B65;
    width: 570px;
    height: 294px;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;

}
.left p{
    width: 570px;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.btn-1{
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #721B65;
    padding: 16px 18px;
    width: 150px;
    height: 26px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
}
.btn-2{
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 18px;
    width: 150px;
    height: 26px;
    text-align: center;
    background: #721B65;
    border-radius: 10px;
    text-decoration: none;
}

.right{
    width: 570px;
    height: 814px;
}
/* second section css start */
.second{
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 78px;
    padding-bottom: 50px;
        
}
.laptop{
    width: 616px;
height: 538px;

}
.offer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;
}
.offer h3{
font-weight: 500;
font-size: 60px;
line-height: 73px;
text-align: right;

color: rgba(0, 0, 0, 0.5);
}
span{
    color: #000;
}
.offer p{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #000000;
}
/* slider section css start */
.slider{
    padding-top: 20px;
    background-color: #FFD868;
}
.slider h3{
    font-weight: 600;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    color: #721B65;
}
.slider .gallary{
    display: flex;
    overflow: scroll;
    
      
}
.gallary .img-slider{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    flex: none;
}
.gallary .img-slider .card{
    width: 90%;
}
.card p{
    text-align: center;
    background: #721B65;
    width: 100%;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
}
.gallary::-webkit-scrollbar{
    display: none;
}
.gallety-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
#backbtn, #nextbtn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 40px;
    background-color: #721B65;
    color: #FFFFFF;
    border-radius: 50%;
    font-weight: 700;
}
.footer{
    text-align: center;
    padding: 30px;
}
.footer h3{
    color: #cfcfcf;
    font-weight: 600;
    font-size: 45px;
    line-height: 73px;
}
.footer p{
    color: #000;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}
.social{
    text-align: center;

}
.social .fb{
    padding: 10px;
    border-radius: 50%;
    background-color: blue;
}
.social .ig{
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}
.social .tt{
    padding: 10px;
    border-radius: 50%;
    background-color: pink;
}